model_config_list {
  config {
    name: 'rssc'
    base_path: '/models/rssc'
    model_platform: 'tensorflow'
  }
  config {
    name: 'multilabel-rssc'
    base_path: '/models/multilabel_rssc'
    model_platform: 'tensorflow'
  }
  config {
    name: 'rssc-patches'
    base_path: '/models/rssc_patches'
    model_platform: 'tensorflow'
  }
}
