<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <title>RS2C</title>
  </head>
  <body>
    <header class="container bg-light py-3">
      <div class="row">
        <div class="col-2 float-left my-auto">
          <a href="http://etf.unibl.org"><img src="{{ url_for('static', filename='images/etf_logo.png') }}" class="float-left img-fluid" width="96" height="83"></a>
	</div>
	<div class="col-8 text-center my-auto">
		<h1>Remote Sensing Scene Classification</h1>
	</div>
	<div class="col-2 float-right my-auto">
          <a href="http://unibl.org"><img src="{{ url_for('static', filename='images/unibl.png') }}" class="float-right img-fluid" width="83" height="83"></a>
        </div>
      </div>
    </header>
    {% block navbar %}{% endblock %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-custom-file-input.js') }}"></script>
    {% block content %}{% endblock %}
  <!-- Grid container -->
  <footer class="container bg-light text-left text-lg-start">
    <!--Grid row-->
    <div class="row p-4">
      <!--Grid column-->
      <div class="col-sm-6 small">
        <p>
	This project is supported by the European Commission under the Horizon 2020 European research infrastructures grant agreement no. 857645.<br>
	<img src="{{ url_for('static', filename='images/eu_flag_yellow.png') }}" height="33" width="50">
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-sm-6 small">
        <p>
	This project is supported by the <a href="https://vladars.net/sr-SP-Cyrl/Vlada/Ministarstva/mnk/Pages/default.aspx">Ministry of Scientific and Technological Development, Higher Education and Information Society in the Government of the Republic of Srpska</a>.
	</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!-- Copyright -->
    <div class="row p-3 bg-dark text-light">
      <div class="col-sm-12 text-center">
        Copyright © 2020-2022 Faculty of Electrical Engineering, University of Banja Luka
      </div>
    </div>
  <!-- Copyright -->
  </footer>
  <!-- Grid container -->
  <!-- Footer -->  
  </body>
</html>
